<div class="container-fluid footer">
	<nav class="col-md-3 col-xs-6">
		<h4>Links</h4>
		<ul class="list-unstyled">
			<li><a href="/">Home</a></li>
			<li><a href="/register_moms">Register Moms</a></li>
			<li><a href="/register_kids">Register Kids</a></li>
			<li><a href="/about">About Us</a></li>
		</ul>
	</nav>
	<div class="col-md-3 hidden-xs hidden-sm">
		<h4>Share</h4>
	</div>
	<div class="col-md-3 col-md-offset-3 col-xs-6">
		<h4>About Us</h4>
		<p>
		Sparsh Paliwal (Service Owner)
		sparshpaliwal123@gmail.com (Mail for service realted queries)
		</p>
	</div>
</div>