<header class="navbar navbar-inverse navbar-static-top mainnav">
<div class="container">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Tiffin Boxes</a>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
		<ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="nav-collapse">
			<li><a href="/">Home</a></li>
			<li><a href="/register_moms">Register Moms</a></li>
			<li><a href="/register_kids">Register Kids</a></li>
			<li><a href="/about">About Us</a></li>
		</ul>
</div>
</header>