<div class="container-fluid bodyboth text-center">
<div class="col-md-5 text-center moms_short"><br><br><em><%=appdata.moms_short%></em><br><br>
<a href="/register_moms">Register here moms</a></div>
<div class="col-md-5 col-md-offset-2 text-center kids_short"><br><br><em><%=appdata.kids_short%></em><br><br>
<a href="/register_moms">Register here kids</a></div>
</div>
<div class="container-fluid bodyboth text-center hidden-xs hidden-sm">
<img src="/images/theme.png"height="600px">
</div>
<!-- <div class="container-fluid bodymom">
<div class="col-md-6"><%=appdata.moms_long%></div>
<div class="col-md-6"></div>
</div>
<div class="container-fluid bodykid">
<div class="col-md-6"><%=appdata.moms_long%></div>
<div class="col-md-6"></div>
</div>
<div class="container-fluid howtext">
<div class="col-md-6"></div>
<div class="col-md-6"></div>
</div> -->