<!DOCTYPE html>
<html>
  <head>
  	<% include partials/head.ejs %>
  	<style type="text/css">
   		body { background: #005b7f; }
	  </style>
  </head>
  <body>
  	<% include partials/header.ejs %>
  	<% include partials/mainbody.ejs %>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
