<!DOCTYPE html>
<html>
  <head>
  <title>Congratulations</title>
  	<style type="text/css">
   		body { background: #005b7f; 
        font-size: 20px;
        color:white;}
	  </style>
  </head>
  <body>
   <p>You have been registered successfully.</p>
    Thankyou
    <a href="/" text-decoration=none>Click here to go to home</a>
  </body>
</html>
