<section class="about">
<div class="container-fluid para-assoc">
<h2><em>> Buisness Associate</em></h2>
If you are someone interested in our idea and want to get it running in your city please do contact us.
</div>
<div class="container-fluid para-contact">
<h2><em>> Contact us</em></h2>
<b>Address</b> : 63 Shanti Nagar<br>
<!-- &nbsp -->&nbsp&nbsp&nbsp&nbsp&nbsp<!-- &nbsp -->Near Ibrahimganj<br>
<!-- &nbsp -->&nbsp&nbsp&nbsp&nbsp&nbsp<!-- &nbsp -->Bhopal (462001),M.P.<br>
<b>Phone</b>   : 9425643360
</div>
<div class="container-fluid para1">
<!-- <img src="/images/me.jpg" class="img-circle" > -->
<h2><em>> Who am I ?</em></h2>
<p>Hi, I am Sparsh Paliwal and I am completing my B.Tech in Information Technology from NIT Durgapur. I made this website to learn web Development and turned out to be good enough to serve a purpose.</p>
</div>
<div class="container-fluid para2">
<h2><em>> Why this ?</em></h2>
<p>Everyother kid has to leave his home to go and study in a college far away from home. Going away from home is never a problem but the new place and the food is. For me, well my college is in west bengal, a place where 96% of the population is non-veg. I am a vegeterian and to top it all the mess in the college, these guys put in all the effort to make food as shit as possible. Well you gotta adjust I have to live 4 years of my life here, cool so after skipping dozens of meal ,trying out different hotels like everyother poor college kid you move back to your mess.</p>
<p>This year in my college fest Recstacy there were a large no. of food stalls there were food chains Dominoes, Pizza Hut ,other local restaurant getting up there stalls and also there were these localites(moms) who made food at there homes and got stalls for themselves, we have a mall next to our college so everything else was available to us everytime of the year but not this very thing. Me(veg) and some of my friends(non-veg) got our hands on these items these moms made and believe me they were as awesome as anything.</p>
</div>
<div class="container-fluid para3">
<h2><em>> So what's the idea ?</em></h2>
<p>I was brainstorming one day and an idea struck me, why not make household wives let there talent in cooking make them earn some money. Awesome country is full of students like me who have to stay away from home why not map these moms with kids. Women empowerment, hell yeah I am doing something good. Well lets take this service online. Wait womens work for a service thats completly based online. Hell yeah, computer literacy. Basic issues of my country solved and now no longer any kid or a person in need of good food may remain hungry because for every student, or an employee or any person who is away from home to do his duties there is a talented mom.</p>
</div>
</section>